.filter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid #e8e8e8;
  padding: 4px 8px;
  margin-right: 20px;
}

.filter button {
  border: none;
  text-align: left;
  white-space: nowrap;
}

.filter p {
  text-align: left;
  white-space: nowrap;
}
.filter h3 {
  font-weight: bold;
  text-align: left;
  font-size: 15px;
  margin: 10px 0;
  border-bottom: 1px solid #d1d1d1;
  padding: 3px 0;
}

.filter h3:first-of-type {
  border: none;
}
.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.items > * {
  flex-basis: 30%;
  box-sizing: border-box;
  padding: 5px 15px;
  margin: 5px;

}

.filter-button:active, .filter-button::after {
  background-color: red;
}

.button-color {
  color: green;
  font-weight: bold;
}
.current-filter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.current-filter > * {
  margin-right: 10px;
}
.current-filter button {
  padding: 0;
  margin: unset;
  margin-top: -4px;
  height: 15px;

}

.current-filter button i {
  color: black;
  border: 1px solid black;
  width: 17px;
  height: 17px;
  font-size: 15px;
  border-radius: 50%;
  text-align: center;
}
.filter form  {
  border: none;
  max-width: inherit;
  padding: 0
}
.price-filter > * {
  max-width: 60px;
}

.price-filter input[type="submit"] {
  border: none;
}

.check-box-testing{
  align-self: flex-start;
}
