
.index-header {
  color: orange;
  text-align: center;
  margin-top: 2em;
}

.header {
  align-items: center;
}

.index-form {
  display: flex;
  flex-direction: row;
}

.index-search {
  background-color: transparent;
  height: min-content;
  border: none;
  max-width: 0px;
  display: hidden;
}

.index-search:focus {
  outline: none;
}
.index-search::before {
  content: '\f002';
  font-family: FontAwesome;
  margin-left: -4rem;
}

.index-input {
  border-radius: 1rem;
  max-width: 500px;
  min-width:200px;
}

.logo {
  height: 100px;
  max-width: 150px;
}
input:focus {
    outline: none;
}
