
body {
  font-family: soleil,Helvetica,Arial,sans-serif;
  background: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/QIAQ9Rd/videoblocks-laptop-online-shopping-carts-and-bag-blue-background-animation-hd_bueyrjcbm_thumbnail-full01.png');
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.main-contents {
  text-align: center;
}


.main-contents > * {
  text-align: center;
}

.img-thumbnail {
  width: 300px;
}

img {
  max-width: 200px;
  border-radius: 50%;
}

.main-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
