
body {
  font-family: 'Lato', sans-serif;
  background-color: rgb(245, 245, 245);
  background-position: center;
  background-repeat: no-repeat;
  font-weight: 200;
}

.main-contents {
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.how-it-works {
  margin: 20px 10px;
}
.main-contents > * {
  text-align: center;
}

.main-login-container {
    display: inline;
}

.main-login-container:first-child, .user-loggedin:first-child {
  margin-inline-end: -80%;
}

.img-thumbnail {
  width: 300px;
}

img {
  max-width: 200px;
}

.main-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid #e8e8e8;
}

.main-list p {
  font-size: 1em;
}
.main-list > * {
  color: blue;
}

.main-list .icon-container:hover {
  color: rgba(255, 0, 0, 0.5);
}

.login-container {
  margin-top: 10px;
}
.brand {
  margin: 20px 10px;
  border-bottom: 1px solid #e8e8e8;

}
.main-contents h1 {
  padding: 10px;
  font-size: 1em;
  font-weight: 400;
}

.brand-list {
  display: flex;
  justify-content: center;
}
.brand-list > * {
  padding: 10px;
  max-width: 100px;
  max-height: 100px;
}

.procedure {
  display: flex;
  flex-direction: row;
  justify-content: center;

  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 20px;

}

.procedure > * {
  padding: 20px 10px;
  min-height: 200px;
}

.procedure img {
  min-width: 200px;
}

.main-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.main-center > * {
  flex-basis: 25%;
  margin: 0;
  padding: 10px;
}

.popular-items {
  margin: 20px;
}
.popular-items h1 {
  text-align: left;
  font-size: 1em;
}
