

.main-header {
  color: orange;
  text-align: center;
  margin-top: 2em;
}

.main-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-search {
  background-color: black;
  border-radius: 15px;
  border: none;
  color: white;
}

.main-input {
  border-radius: 1rem;
  margin-bottom: 2em;
  max-width: 580px
}

.content-box {
  display: flex;
  font-family: 'Lucida Console';
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: auto;
}

.logo-login {
  display: flex;
  justify-content: row;
}
