* {
  font-family: 'Lato', sans-serif;
}
*:focus {
    outline: 0 !important;
}
p {
  text-align: center;

}

.fav-list {
  background-color: rgb(255,255,255)
}

.fav-list h1 {
  text-align: center;
}

.fav-list a:first {
  align-self: flex-end;
}
.fav-list ul li {
  list-style: none;
  max-width: 400px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.fav-list ul {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fav-list ul:hover {
  overflow: visible;
  white-space: normal;

}

.add-item-list {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  text-align: left;
  max-width: 30%
}

.add-item-list label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.add-item-list label p {
  min-width: 50px;
  text-transform: uppercase;
  margin: auto;
}
.form-contents-hide {
  display: none;
}

.form-contents-show {
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
  padding: 0;
}
.form-button-show {
  margin-top: 5px;
}

.form-button-hide {
  width: 100%;
}

.fav-image-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid #e8e8e8;
  padding: 0;
}

.fav-image-container > * {
  padding-right: 10px;
}

.fav-image-container .fav-image {
  display: flex;
  justify-content: center;
  align-self: center;
  min-width: 150px;
}
.fav-image-container img {
  max-width: 100px;
  max-height: 100px;
}


.fav-details {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: auto 0;
  max-width: 50%;
  flex-wrap: wrap;
}



.fav-list-map li:first-of-type:hover {

}
.fav-list button {
  color:#ff5969;
  max-height: 2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.fav-list button i {
  text-align: center;
}
.fav-list .close-button button {
}

.fav-list  .fav-submit-button {
  color: white;
  background: #212529;
  margin-top: 10px;
  text-transform: uppercase;

}

.fav-list-map {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.fav-list-map > * {
  margin-left: 20px;
  padding: 10px;
  min-width: 55%;
  max-width: 55%;
}
.fav-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.fav-content .button-control {
  display: inline-block;

}
.fav-content .button-control > * {
color: white;
font-weight: 500;
margin-right: 10px;
}
.fav-content .button-control > *:first-of-type {
  background-color: #28a745;

}
.fav-content .button-control > *:last-of-type {
  background-color: #f73548;
}
.fav-content .button-control > *:hover {
  transition: background-color 0.4s ease;
  background-color: #323851;

}

.hash-loading {
  display: flex;
  justify-content: center;
  text-align: center;
}


.list-dir {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 5px;
  margin-bottom: 20px;
}

.list-dir > * {
  padding: 5px 10px;
}

.list-dir button {
  border-radius: 5px;
  background-color: #2a77ca;
  color: white;
}
