


.web-content h2 {
  font-weight: 200;
}

.user-content {
  margin: auto;
}


.search-nav form {
  max-width: 500px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  box-shadow: 0 10px 10px 0 rgba(0,0,0,.05);
  margin: 25px auto;
  padding: 5px;
}
input[type=search] {
  min-width: 450px;
  border: none;


  /* padding: 12px 20px 12px 66px; */
}

.search-button {
  background-color: inherit;
  border: none;
}
